@model IAdType

@if (Model.Ad != null)
{
    var ad = (AdItem)Model.Ad;
    if (ad.HasValue("adCode"))
    {
        @Html.Raw(ad.AdCode)
    }
    else
    {
        <a href="@ad.LinkUrl">
            @if (ad.Image != null)
            {
                <img class="responsive" src="@ad.Image.Url" alt="">
            }
            else
            {
                <span>Image is missing</span>
            }
        </a>
    }
}