@model BigImageAndTextPanel

<div class="engagement-platform">
    @if (Model.Image != null && Model.ImageLink != null)
    {
        <div class="engagement-platform-image text-center">
            <a href="@Model.ImageLink.Url"><img src="@Model.Image.Url" alt="@Model.ImageLink.Name"></a>
        </div>
    }
    <div class="engagement-platform-content">
        <p><small>@Model.Text</small></p>
    </div>
</div>