
<footer class="footer">
    <div class="container">
        <div class="newsletter-part">
            <div class="row">
                <div class="col-lg-7">
                    <form class="newsletter-form" action="">
                        <input class="input" type="text" placeholder="Enter your email" name="">
                        <button type="submit" class="btn-main submit" name="">Suscribe to our newsletter</button>
                    </form>
                </div>
                <div class="col-lg-3 offset-lg-2">
                    <ul class="socials">
                        <li>
                            <a href=""><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href=""><span class="icon-linkedin"></span></a>
                        </li>
                        <li>
                            <a href=""><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href=""><span class="icon-facebook"></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-part">
            <div class="row">
                <div class="col-md-7 col-lg-5">
                    <div class="text">
                        <h2 class="title">Lorem ipsum dolor become a member?</h2>
                        <p class="">Flip, scroll and swipe your way to the best mining stories and news anytime, anywhere.</p>
                        <a href="" class="link">Join CIM</a>
                    </div>
                </div>
                <div class="col-md-4 offset-md-1 col-lg-3 offset-lg-4">
                    <div class="contact-info">
                        <p>
                            <span class="title">CIM National Office</span>
                            <a href="">
                                Suite 1250, 3500 de Maisonneuve Blvd. W.
                                Westmount, QC H3Z 3C1 <br>
                            </a>
                            <a href="tel:5149392710">
                                (514) 939-2710
                            </a>
                        </p>
                        <p>
                            <span class="title">Office Hours</span>
                            Monday to Friday<br>
                            9 a.m. - 5 p.m. EST
                        </p>
                        <p>
                            <a class="link" href="">Contact Us</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-part">
            <p class="">Copyright 2011 - Canadian Institute of Mining, Metallurgy and Petroleum. All Rights Reserved. <a href="">Privacy policy</a></p>
            <p class="kryzalid">
                Web design by
                <a href="www.kryzalid.net" target="_blank">
                    <img src="/images/icons/kryzalid.svg">
                </a>
            </p>
        </div>
    </div>
</footer>