@model ImageWithButtonsNavigationPanel

<h4 class="nav-subtitle">@Model.Name</h4>
<div class="row pt20">
    <div class="col-sm-6">
        <div class="national-instrument">
            @if (Model.Image != null)
            {
                <img src="@Model.Image.Url" />
            }
        </div>
    </div>

    @if (Model.Buttons != null && Model.Buttons.Any())
    {
        <div class="col-sm-6">
            <ul class="list-buttons">
                @foreach (var item in Model.Buttons.Where(b => !string.IsNullOrEmpty(b.Link)))
                {
                    <li>
                        <a href="@item.Link">@item.Caption</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>