
<div class="login-wrapper">
    <a href="#" class="btn-close-login">
        <i class="fal fa-times"></i>
    </a>
    <div class="login-head">
        <h3>Login</h3>
        <div class="login-content">
            <h2 class="text-center">Member Login</h2>
            <div class="form-login">
                <form action="?" method="post">
                    <div class="form-body">
                        <div class="form-row">
                            <div class="form-controls">
                                <input type="email" class="field" name="field-email" id="field-email" value="" required>
                                <label for="field-email" class="form-label">E-mail</label>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->

                        <div class="form-row">
                            <div class="form-controls">
                                <input type="password" class="field field-password" name="field-password" id="field-password" value="" required>
                                <label for="field-password" class="form-label">Password</label>
                                <a href="#" class="show-hide-pass">
                                    <i class="fal fa-eye"></i>
                                </a>
                            </div><!-- /.form-controls -->
                        </div><!-- /.form-row -->
                    </div><!-- /.form-body -->

                    <div class="form-actions">
                        <button type="submit" class="form-btn">Log In</button>
                        <a href="#" class="btn-forgot-pass">Forgotten password?</a>
                    </div><!-- /.form-actions -->
                </form>
            </div><!-- /.login-content -->
        </div><!-- /.form-login -->
    </div><!-- /.login-head -->

    <div class="login-body">
        <h3>Join</h3>
        <div class="login-content">
            <h2>Not a member? <br>Register for a free account.</h2>
            <a href="#" class="btn-reg">Register</a>
        </div><!-- /.login-content -->
    </div><!-- /.login-body -->
</div><!-- /.login-wrapper -->
