@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";

    var page = Model.Content;
}

<div class="main">
    <div class="section-primary">
        <div class="container">
            <div class="section-head">
                <h2>@page.Header</h2>
            </div><!-- /.section-head -->
            <div class="row">
                <div class="col-sm-8 section-content">
                    <article class="article">
                        @if (page.Image != null)
                        {
                            <div class="article-image">
                                <img src="@page.Image.Url" alt="" class="responsive">
                            </div><!-- /.article-image -->
                        }

                        <div class="article-content">
                            @page.Text
                        </div><!-- /.article-content -->
                    </article><!-- /.article -->
                </div><!-- /.col-sm-8 section-content -->

                <div class="col-sm-4 section-aside">
                    @Html.Partial("AdsList", page)
                </div><!-- /.col-sm-4 section-aside -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-primary -->
</div><!-- /.main -->