@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";

    var page = Model.Content;
    var container = page.FirstChild(ContentSectionsContainer.ModelTypeAlias);
}

<div class="intro">
    <div class="intro-image">
        <img src="/images/intro-background.png" alt="">
    </div><!-- /.intro-image -->
    <div class="intro-content">
        <div class="container">
            <h1>Get a Head <p>Start</p> </h1>
        </div><!-- /.container -->
    </div><!-- /.intro-content -->
</div><!-- /.intro -->
<div class="main">
    @foreach (var section in container.Children<ContentSection>())
    {
        @Html.Partial("Content/" + section.DocumentTypeAlias, section)
    }
</div>