@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Layout.cshtml";
}

<div class="intro">
    <div class="intro-content">
        <div class="container">
            <h1>Get a Head <p>Start</p> </h1>
        </div><!-- /.container -->
    </div><!-- /.intro-content -->

</div><!-- /.intro -->
<div class="main">
    <!-- STORIES LIST -->
    <div class="container">
        <div class="list-stories entry-anim">
            <h2>Top stories</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="story jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/story_1.jpg">
                        </div>
                        <div class="caption">
                            <a href="">Escondida workers vote to strike on August 6</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="story jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/story_2.jpg">
                        </div>
                        <div class="caption">
                            <a href="">De Beers Canada to flood Snap Lake diamond mine</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="story jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/story_3.jpg">
                        </div>
                        <div class="caption">
                            <a href="">Teck installs first production-scale machine learning system</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA FULL IMAGE -->
    <div class="cta cta-full">
        <div class="container">
            <div class="content entry-anim">
                <div class="image" style="background-image: url('/images/tmp/img-cim-community.jpg');"></div>
                <div class="caption">
                    <h2 class="title">CIM Community</h2>
                    <p class="text">Hivebrite is the all-in-one platform to manage and engage all types of private communities: alumni, corporate alumni, professional networks, nonprofits.</p>
                    <a href="" class="btn-tertiary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xs-12">
                <img class="responsive" src="https://via.placeholder.com/730x90" alt="">
            </div>
        </div>
    </div>
    <!-- LIST NEWS/EVENTS -->
    <div class="container">
        <div class="list-events-news">
            <div class="row">
                <div class="col-lg-5 news-list">
                    <h2>News</h2>
                    <div class="news entry-anim">
                        <p class="info">
                            <span class="cat">Category</span> |
                            <span class="date">Jun 23. 2018</span>
                        </p>
                        <p class="title"><a href="">CIM Magazine weekly mining news recap</a></p>
                    </div>
                    <div class="news entry-anim">
                        <p class="info">
                            <span class="cat">Category</span> |
                            <span class="date">Jun 23. 2018</span>
                        </p>
                        <p class="title"><a href="">Nevsun rejects Lundin’s $1.4-billion hostile takeover bid</a></p>
                    </div>
                    <div class="news entry-anim">
                        <p class="info">
                            <span class="cat">Category</span> |
                            <span class="date">Jun 23. 2018</span>
                        </p>
                        <p class="title"><a href="">Ontario court dismisses junior miner’s exploration permit over failure to consult</a></p>
                    </div>
                    <div class="news entry-anim">
                        <p class="info">
                            <span class="cat">Category</span> |
                            <span class="date">Jun 23. 2018</span>
                        </p>
                        <p class="title"><a href="">CIM Magazine weekly mining news recap</a></p>
                    </div>
                    <div class="more entry-anim">
                        <a href="" class="btn-secondary">All news</a>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-2">
                    <h2>Events</h2>
                    <div class="events entry-anim">
                        <p class="info">
                            <span class="cat">Newfoundland and Labrador</span> |
                            <span class="date">Sep 23. 2018</span>
                        </p>
                        <p class="title">
                            <a href="">
                                Michelle Ash named new chair of industry standards group
                            </a>
                        </p>
                    </div>
                    <div class="events entry-anim">
                        <p class="info">
                            <span class="cat">Hamilton</span> |
                            <span class="date">Sep 23. 2018</span>
                        </p>
                        <p class="title">
                            <a href="">
                                Nevsun rejects Lundin’s $1.4-billion hostile takeover bid
                            </a>
                        </p>
                    </div>
                    <div class="events entry-anim">
                        <p class="info">
                            <span class="cat">Thetford Mines</span> |
                            <span class="date">Sep 23. 2018</span>
                        </p>
                        <p class="title">
                            <a href="">Remembering Westray</a>
                        </p>
                    </div>
                    <div class="events entry-anim">
                        <p class="info">
                            <span class="cat">Toronto</span> |
                            <span class="date">Sep 23. 2018</span>
                        </p>
                        <p class="title">
                            <a href="">ICMM members adopt new measures to prevent future tailings dam failures</a>
                        </p>
                    </div>
                    <div class="more entry-anim">
                        <a href="" class="btn-secondary">All events</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA FULL IMAGE LEFT -->
    <div class="cta cta-full -left">
        <div class="container">
            <div class="content entry-anim">
                <div class="image" style="background-image: url('/images/tmp/img-students.jpg');"></div>
                <div class="caption">
                    <h2 class="title">Students & Young Leaders</h2>
                    <p class="text">Flip, scroll and swipe your way to the best mining stories and news anytime, anywhere.</p>
                    <a href="" class="btn-tertiary">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- CTA FULL IMAGE -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cta cta-image-full entry-anim" style="background-image: url('/images/tmp/onemine.jpg');">
                    <div class="content">
                        <h2 class="title">Looking for a Technical Paper?</h2>
                        <p class="">Flip, scroll and swipe your way to the best mining stories and news anytime.</p>
                        <div class="actions">
                            <a href="" class="btn-secondary -white">Visit website</a>
                            <a class="link-image" href="">
                                <img src="/images/icons/bitmap.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <img class="responsive" src="https://via.placeholder.com/300x250" alt="">
            </div>
        </div>
    </div>
    <!-- SLIDER MEMBERS -->
    <div class="slider-members">
        <div class="container entry-anim">
            <h2>Our Newest Corporate Members</h2>
            <div class="slider-ctn ">
                <!-- Slider main container -->
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <div class="members">
                                <img src="/images/tmp/aecon.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="members">
                                <img src="/images/tmp/arcelormittal.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="members">
                                <img src="/images/tmp/artisan.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="members">
                                <img src="/images/tmp/brandt.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="members">
                                <img src="/images/tmp/aecon.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev">
                    <i class="icon-arrow-left"></i>
                </div>
                <div class="swiper-button-next">
                    <i class="icon-arrow-right"></i>
                </div>
            </div>
            <a class="btn-secondary" href="">All Corporate Members</a>
        </div>
    </div>
    <!-- CTA + ADS -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="cta entry-anim">
                    <img class="responsive image" src="/images/tmp/standards-best-practices.jpg">
                    <h4>Perspiciatis unde omnis</h4>
                    <h2>Standards, Best Practices & Guidance for Mineral Resources and Mineral Reserves</h2>
                    <p>Golder Associates was appointed to conduct the review, supported by a panel of technical experts from ICMM member companies and associations, including several Canadian geoscientists and engineers.</p>
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn-secondary" href="">Standards</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-secondary" href="">Best Practices</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-secondary" href="">Guidance</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 hide-sm">
                <img class="responsive" src="https://via.placeholder.com/300x600" alt="">
            </div>
        </div>
    </div>
    <div class="list-magazine">
        <div class="container entry-anim">
            <h2>CIM Magazine</h2>
            <div class="row list ">
                <div class="col-md-6 col-lg-4 item">
                    <div class="magazine jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/magazine_1.jpg" alt="">
                        </div>
                        <div class="caption">
                            <p class="info">
                                <span>Projects</span> | <span>Jul 23, 2018</span>
                            </p>
                            <div class="title">
                                <a href="">In deep and on track</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="magazine jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/magazine_2.jpg" alt="">
                        </div>
                        <div class="caption">
                            <p class="info">
                                <span>Projects</span> | <span>Jul 23, 2018</span>
                            </p>
                            <div class="title">
                                <a href="">Nevsun rejects Lundin’s $1.4-billion hostile takeover bid</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="magazine jsBlockLink">
                        <div class="image">
                            <img class="responsive" src="/images/tmp/magazine_3.jpg" alt="">
                        </div>
                        <div class="caption">
                            <p class="info">
                                <span>Projects</span> | <span>Jul 23, 2018</span>
                            </p>
                            <div class="title">
                                <a href="">Hair to replace needles in lead monitoring</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="btn-secondary" href="">All news</a>
        </div>
    </div>
    <div class="list-jobs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-12">
                    <div class="content">
                        <h2>Jobs</h2>
                        <ul class="list">
                            <li class="item jsBlockLink entry-anim">
                                <p class="title">
                                    <a href="">Environment Engineer – K+S Potash Canada, Port Moody, BC </a>
                                </p>
                                <p class="info">
                                    Closing date: June 19, 2018
                                </p>
                            </li>
                            <li class="item jsBlockLink entry-anim">
                                <p class="title">
                                    <a href="">Instructor, Mineral Resource Engineering Program – Dalhousie University Anticipated</a>
                                </p>
                                <p class="info">
                                    Starting date: July 1, 2018
                                </p>
                            </li>
                            <li class="item jsBlockLink entry-anim">
                                <p class="title">
                                    <a href="">Supervisor, Wire Weaving Division – Haver & Boecker Canada, St. Catharines, ON  </a>
                                </p>
                                <p class="info">
                                    Closing date: July 1, 2018
                                </p>
                            </li>
                            <li class="item jsBlockLink entry-anim">
                                <p class="title">
                                    <a href="">Site Operations Manager – Ausenco, British Columbia</a>
                                </p>
                                <p class="info">
                                    Closing date: July 14, 2018
                                </p>
                            </li>
                        </ul>
                        <a class="btn-secondary entry-anim" href="">All jobs</a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-0 hide-lg">
                    <img class="responsive" src="https://via.placeholder.com/300x600">
                </div>
            </div>
        </div>
    </div>
</div>